
* {
  box-sizing: border-box; /* Incluye padding y border en el width/height definido */
  margin: 0;
  padding: 0;

}

body {
  background-color: rgb(0, 0, 0);
  }

.titulo-principal{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

.parrafo-principal{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 15px; 
  color: #ffffff;
}

.titulo-servicio{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 0;
  color: #ffffff;
}

.imagen-portada{
  width: 100%;
 
}
.titulos-secundarios{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  color: #ffffff;

}

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas */
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  
}

section{
  width: 600px;
  border: 5px solid rgb(61, 61, 61);
  text-align: center;
  border-radius: 10px; 
}

.imagen-servicios{

 width: 500px;
}

.imagen-servicio2{

 width: 500px;
}
.titulo-video{
  font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   text-align: center;
   color: #ffffff;
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;            
  width: 90%;           
  margin: 40px auto;      
}

.videos video {
  width: 100%;
  border-radius: 10px; 
  border: 1px solid rgb(255, 255, 255);
}
.tabla-tiempos{
  font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   text-align: center;
   color: #ffffff;
   margin: 0 auto;
  width: 900px;
   

}
.formulario{
    font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   text-align: center;
   color: #ffffff;

  
}

.boton-enviar{
  width: 100px;
  height : 40px

}

.titulo-servicio{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;

}

.parrafo-servicio{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  
  color: #ffffff;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.5;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columnas */
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.columna {
  text-align: center;
} 
.img-piepag{
  width: 300px;
  border-radius: 20px;
  
}

.direccion{
  font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   text-align: center;
   padding: 10px;
   color: #ffffff;

}
img:hover {
  transform: scale(1.05);
  }

  .videos{
    width: 600px;
  }