* {
  box-sizing: border-box; /* Incluye padding y border en el width/height definido */
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(0, 0, 0);
}
.imagen-portada{
  width: 100%;
}

.menu{
  background-color: #131212;
  position: static;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;

}
.menu a {
  text-decoration: none;
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: rgb(134, 58, 58);
  padding: 10px;
  
}
.item-menu{
  width: 100px;

  font-family:serif;
  font-size: 20px;
  color: #ffffff;
  padding: 10px;

  text-align: center;
}


.titulo-principal{
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: red;
  padding: 10px;
  margin: 15px;

}

.parrafo-principal{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffff;
  padding: 20px; 
  
}







.titulos-secundarios{
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: red;
  padding: 10px; 
}


h2{
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: red;
  padding: 10px; 
}

.galeria img{
  width: 100%;
  border-radius: 10px;
}
.galeria{
  display: flex;
  margin: 10px 5px 10px 5px;
  gap: 10px;

}
.card-galeria{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
.contenedor-card{
  width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
}





.titulo-card{
  font-size: 20px;
  text-align: center;
  color: white
}
.parrafo-card{
  font-size: 15px;
  text-align: center;
  padding: 5px;
  color: white;
}
.galeria img:hover{
  transform: scale(1.05);
  filter: brightness(0.7)
}

.galeria video{
  width: 100%;
  border-radius: 10px;}

.galeria-videos{
  display: flex;
  margin: 10px 5px 10px 5px;
  gap: 10px;
}




footer{
  background-color: #131313;

}
footer{
  background-color: #131313;

}
.footer-iconos{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color: #111111;

}
.imagen-servicios:hover {
  transform: scale(1.05);
  filter: brightness(0.7)
}
.whatsapp-btn,
.instagram-btn,
.facebook-btn,
.maps-btn{
  font-size: 60px;
  color: rgb(241, 52, 52);
  margin: 0 15px;
}


.titulo-contacto{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;

}
.datos-contacto{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: grid;
  color: #636363;
}
.footer-contacto{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  background: #0c0c0c; /* opcional */
}
.logo-footer{
  width: 400px;
}